.categorypageseller{
  background-color: #233c50;
}
  .categorypageseller .card{
      border: 2px solid #D9D9D9;
      cursor: pointer;
      border-radius: 5px;
      width: 28%;
      margin: 3% 2%;
      display: inline-block;
      position: relative;
    }
    .itemimg{
      width: 95%;
      height: 225px;
      margin: 5px 3%;
      display: block;
    }
    .image__overlay{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      color: #ffffff;
      font-family: 'Quicksand', sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: opacity 0.25s;
    }
    .image__overlay--blur {
      backdrop-filter: blur(5px);
  }
  
  .image__overlay--primary {
      background: #009578;
  }
  
  .image__overlay > * {
      transform: translateY(20px);
      transition: transform 0.25s;
  }
  
  .image__overlay:hover {
      opacity: 1;
  }
  
  .image__overlay:hover > * {
      transform: translateY(0);
  }
  .image__title {
    font-size: 2em;
    font-weight: bold;
  }
    .categorypageseller p{
      color: #D9D9D9;
      margin: 5px 3%;
    }
    .categorypageseller h5{
      text-align: center;
      font-size: 30px;
      font-weight: 800;
      line-height: 20px;
      border: 1px solid white;
      border-radius: 30px;
      margin: 2% 34%;
      padding: 10px 0;
      background-color: #D9D9D9;
    }
    .categorypageseller #search{
      background-color: #D9D9D9;
      border: 2px solid #D9D9D9;
      margin: 3% 3%;
      width: 78%;
      font-size: 16px;
      font-weight: 800;
      line-height: 30px;
      padding: 10px 3px;
      border-radius: 30px;
    }
    ._1234{
      text-align: center;
      margin-top: 20%;
      width: 50%;
      height: 50px;
      border-top-left-radius: 30px;
      cursor: pointer;
      border-top-right-radius: 30px;
    }
  @media screen and (max-width:1000px){
      .categorypageseller .card{
          width: 24%;
          border: 2px solid #D9D9D9;
          border-radius: 5px;
          margin: 4% 4%;
          display: inline-block;
          position: relative;
        }
        .itemimg{
          width: 92%;
          height: 150px;
          margin: 4% 3%;
          display: block;
        }
        .image__overlay{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.6);
          color: #ffffff;
          font-family: 'Quicksand', sans-serif;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          opacity: 0;
          transition: opacity 0.25s;
        }
        .image__overlay--blur {
          backdrop-filter: blur(5px);
      }
      
      .image__overlay--primary {
          background: #009578;
      }
      
      .image__overlay > * {
          transform: translateY(20px);
          transition: transform 0.25s;
      }
      
      .image__overlay:hover {
          opacity: 1;
      }
      
      .image__overlay:hover > * {
          transform: translateY(0);
      }
      .image__title {
        font-size: 2em;
        font-weight: bold;
      }
        .categorypageseller p{
          color: #D9D9D9;
          margin: 4% 4%;
        }
        .seller {
          margin-top: -40px;
        }
        .categorypageseller h5{
          text-align: center;
          font-size: 30px;
          font-weight: 800;
          line-height: 20px;
          border: 1px solid #D9D9D9;
          border-radius: 30px;
          padding: 12px 0;
          margin: 5% 24%;
          background-color: #D9D9D9;
        }
        .categorypageseller #search{
          background-color: #D9D9D9;
          border: 2px solid #D9D9D9;
          margin: 3% 0;
          width: 95%;
          font-size: 16px;
          font-weight: 800;
          line-height: 30px;
          padding: 10px 3px;
          border-radius: 30px;
        }
        ._1234{
          text-align: center;
          margin-top: 20%;
          width: 50%;
          height: 50px;
          border-top-left-radius: 30px;
          cursor: pointer;
          border-top-right-radius: 30px;
        }
  }
  @media screen and (max-width:550px){
      .categorypageseller .card{
          width: 35%;
          border: 2px solid #D9D9D9;
          border-radius: 5px;
          margin: 6% 6%;
          position: relative;
          display: inline-block;
        }
        .itemimg{
          width: 90%;
          height: 100px;
          margin: 10% 5%;
          display: block;
        }
        .image__overlay{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.6);
          color: #ffffff;
          font-family: 'Quicksand', sans-serif;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          opacity: 0;
          transition: opacity 0.25s;
        }
        .image__overlay--blur {
          backdrop-filter: blur(5px);
      }
      
      .image__overlay--primary {
          background: #009578;
      }
      
      .image__overlay > * {
          transform: translateY(20px);
          transition: transform 0.25s;
      }
      
      .image__overlay:hover {
          opacity: 1;
      }
      
      .image__overlay:hover > * {
          transform: translateY(0);
      }
      .image__title {
        font-size: 2em;
        font-weight: bold;
      }
        .categorypageseller p{
          color: #D9D9D9;
          margin: 5% 5%;
        }
        .seller {
          margin-top: -20px;
        }
        .seller .card{
          margin: 8% 6%;
        }
        .categorypageseller h5{
          text-align: center;
          font-size: 18px;
          font-weight: 800;
          line-height: 20px;
          border: 1px solid #D9D9D9;
          border-radius: 30px;
          padding: 10px 0;
          margin: 5% 20%;
          background-color: #D9D9D9;
        }
        .categorypageseller #search{
          background-color: #D9D9D9;
          border: 2px solid #D9D9D9;
          margin: 30px 0;
          width: 95%;
          font-size: 16px;
          font-weight: 800;
          line-height: 30px;
          padding: 10px 3px;
          border-radius: 30px;
        }
        ._1234{
          text-align: center;
          margin-top: 20%;
          width: 50%;
          height: 50px;
          border-top-left-radius: 30px;
          cursor: pointer;
          border-top-right-radius: 30px;
        }
  }