.menu-container {
  position: relative;
  background-color: #233c50;
}
._5489{
  text-decoration: none;
  font-size: 20px;
  color: inherit;
}
.menu{
  background: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: 60px;
  right: 20px;
  width: 80px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  }
  .menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  }
  .list{
  list-style: none;
  padding: 0 ;
  margin:0;
  }
  .listli{
  border-bottom: 1px solid #dddddd;    
  }
  .link{
  text-decoration: none;
  color: #333333;
  font-size: 20px;
  } 
  .imgmenu{
    width: 5%;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 2px;
  }

  
  /* .btn:hover {
    background: none;
    background-image: -webkit-linear-gradient(top, none,none);
    background-image: -moz-linear-gradient(top, none,none);
    background-image: -ms-linear-gradient(top, none,none);
    background-image: -o-linear-gradient(top, none,none);
    background-image: linear-gradient(to bottom, none,none);
    text-decoration: none;
  } */

  @media screen and (max-width:550px){
    .imgmenu{
      width: 10%;
      border-radius: 50%;
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
  @media screen and (max-width:1000px) and (min-width:551px){ 
    .imgmenu{
    width: 7%;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 1px;
    }
  }
  